@charset "utf-8";
body {
	color: #5a5a5a;
	background-color: burlywood;
	font-size: 30px;
}
header {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: white;
}
nav {
	padding: 10px;
}
ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
ul > li {
	list-style: none;
	margin: 10px;
	color: white;
}
a {
	text-decoration: none;
	color: inherit;
}
.frontDiv {
	text-align: center;
}
form {
	text-align: center;
}
form > div {
	font-size: 15pt;
	margin: 15px;
}
input {
	height: 30px;
}
input[type="submit"] {
	width: 200px;
	height: 100px;
}
.loginSucDiv {
	justify-content: center;
	align-items: center;
	text-align: center;
}
